:root {
    --hero-text-color: #ffffff;
    --text-color: #000000;
    --second-hero-color: #D41443;
    --two-text-color: #FFA5BA;
    --three-text-color: #907E82;
    --hero-background-color: #FFB8CA;
    --two-background-color: #F0D1A5;
    --trhee-background-color: #C2E297;
    --four-background-color: #FFF5F6;
    --five-background--color: #E1E1E1;
    --menu-color: #E17992;
    
}