<section class="advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">The advantages of ICECREAM</h2>
    <ul class="list advantages__list-grid grid-list">
      <item class="grid-list__item">
        <h3 class="grid-list__title--01">721</h3>
        <p class="grid-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </item>
      <item class="grid-list__item">
        <h3 class="grid-list__title--02">16kg</h3>
        <p class="grid-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </item>
      <item class="grid-list__item">
        <h3 class="grid-list__title--03">84</h3>
        <p class="grid-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </item>
    </ul>
  </div>
</section>
