<section class="customer-reviews-section">
  <div class="customer-reviews-container">
    <picture>
      <source
        srcset="
        ../../images/pc/customer-reviews.png  1x,
        ./images/команда/img-desk-2x.jpg  2x"
        media="(min-width: 1200px)"
        >
        <source 
        srcset="
        ./images/команда/img-tab.jpg  1x,
        ./images/команда/img-tab2x.jpg  2x" 
        media="(min-width: 768px)"
        >
        <source 
    </picture>
    <p class="customer-reviews">hello customer-reviews</p>
</div>
</section>
