<section class="gallery">
  <div class="container">
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery1.jpg 1x, ./images/pc-gallery/gallery1-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab1.jpg    1x,
              ./images/tab-gallery/gallery-tab1-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab1.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery2.jpg 1x, ./images/pc-gallery/gallery2-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab2.jpg    1x,
              ./images/tab-gallery/gallery-tab2-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab2.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery3.jpg 1x, ./images/pc-gallery/gallery3-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab3.jpg    1x,
              ./images/tab-gallery/gallery-tab3-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab3.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery4.jpg 1x, ./images/pc-gallery/gallery4-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab4.jpg    1x,
              ./images/tab-gallery/gallery-tab4-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab4.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery5.jpg 1x, ./images/pc-gallery/gallery5-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab5.jpg    1x,
              ./images/tab-gallery/gallery-tab5-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab5.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery6.jpg 1x, ./images/pc-gallery/gallery6-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab6.jpg    1x,
              ./images/tab-gallery/gallery-tab6-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab6.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery7.jpg 1x, ./images/pc-gallery/gallery7-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab7.jpg    1x,
              ./images/tab-gallery/gallery-tab7-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab7.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery8.jpg 1x, ./images/pc-gallery/gallery8-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab8.jpg    1x,
              ./images/tab-gallery/gallery-tab8-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab8.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery9.jpg 1x, ./images/pc-gallery/gallery9-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab9.jpg    1x,
              ./images/tab-gallery/gallery-tab9-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab9.jpg"
            alt="gallery"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="./images/pc-gallery/gallery10.jpg 1x, ./images/pc-gallery/gallery10-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <img
            srcset="
              ./images/tab-gallery/gallery-tab10.jpg    1x,
              ./images/tab-gallery/gallery-tab10-2x.jpg 2x
            "
            src="./images/tab-gallery/gallery-tab10.jpg"
            alt="gallery"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
