<section class="header">
  <div class="container header-thumb">
    <a class="header__logo" href="./index.html">
      <picture>
        <source
          srcset="./images/pc/heder-logo.png 1x, ./images/pc/heder-logo-2x.png 2x"
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="./images/tab/heder-logo-tab.png 1x, ./images/tab/heder-logo-tab-2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="./images/mob/heder-logo-mob.png 1x, ./images/mob/heder-logo-mob-2x.png 2x"
          media="(min-width: 480px)"
          type="image/png"
        />
        <img class="header-img__logo" src="./images/mob/heder-logo-mob.png" alt="Logo" />
      </picture>
    </a>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="mobile-menu__icon" width="20" height="12">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</section>
