<section class="hero">
  <div class="container">
    <h2 class="hero">ice cream made with <span class="header__title--secondary">passion</span></h2>
    <button class="hero__button-priority" type="button">Products</button>
    <button class="hero__button-secondary" type="button">How it’s made?</button>
    <picture class="picture">
      <source
        srcset="./images/pc/heder-ice-cream.png 1x, ./images/pc/heder-ice-cream-2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./images/tab/heder-ice-cream-tab.png 1x, ./images/tab/heder-ice-cream-tab-2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="./images/mob/heder-ice-cream-mob.png 1x, ./images/mob/heder-ice-cream-mob-2x.png 2x"
        media="(min-width: 320px)"
        type="image/png"
      />
      <img src="./images/tab/heder-ice-cream-tab.png" alt="IceCream" />
    </picture>
  </div>
</section>
