<div class="backdrop is-hidden" data-modal-map>
    <div class="modal-map">        
        <button type="button" class="modal-map__close" data-modal-map-close>
            <svg class="modal-map__close--icon" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="point">
            <div class="point__chicago">
                <svg class="point__icon" width="20" height="20">
                    <use class="point__icon--block" href="./images/icons.svg#icon-location"></use>
                </svg>
                <div class="point__chicago--text">
                    <p class="point__chicago--item">Chicago</p>
                    <a href="tel:+61(0)383766284" class="point__link link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="point__link link">noreply@envato.com</a>
                </div>
            </div>
        </div>
        
    </div>
</div>