<section class="products" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__head">products</h2>

    <div class="products-list list slider-products-container" id="slider-products">
      <div class="products-list__card">
        <div class="products-list__card-coloured products-list__card-coloured--first">
          <h3 class="product-list__name product-list__name--first">ice cream</h3>
          <p class="product-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product-list__text--dissapear">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="round-button" data-icecream-open>
            <svg width="12" height="12">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        
          <div class="modal modal__icecream is-hidden" data-icecream>
            <button type="button" class="js-modal-close" data-icecream-close>
                <svg class="modal__close-icon" width="18" height="18">
                  <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <p class="product__title">ice cream</p>
            <p class="product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ullam cum nulla aperiam
              tempora nisi at voluptate! Ut velit accusamus, rerum ratione adipisci asperiores suscipit quia officia cumque
              architecto numquam error doloremque sequi sed alias tempore eligendi ex hic? Deserunt natus illum esse temporibus
              veritatis quidem ad eius commodi, sit, beatae, ab totam possimus expedita culpa reprehenderit inventore! Doloribus
              voluptates ad vero, numquam maxime saepe quia tempora repudiandae porro asperiores facere non possimus nihil
              mollitia nulla rerum omnis sequi dolore nam quo in dolorum. Voluptatibus ratione, labore, modi dolorum nihil
              expedita maiores quibusdam delectus reprehenderit veritatis officiis assumenda, voluptatem debitis.</p>
          </div>
        
      </div>

      <div class="products-list__card">
        <div class="products-list__card-coloured products-list__card-coloured--second">
          <h3 class="product-list__name product-list__name--second">ice coffee</h3>
          <p class="product-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product-list__text--dissapear">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="round-button" data-icecoffee-open>
            <svg width="12" height="12">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        
          <div class="modal modal__icecoffee is-hidden" data-icecoffee>
            <button type="button" class="js-modal-close" data-icecoffee-close>
              <svg class="modal__close-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close"></use>
              </svg>
            </button>
            <p class="product__title">ice coffee</p>
            <p class="product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ullam cum nulla aperiam
              tempora nisi at voluptate! Ut velit accusamus, rerum ratione adipisci asperiores suscipit quia officia cumque
              architecto numquam error doloremque sequi sed alias tempore eligendi ex hic? Deserunt natus illum esse temporibus
              veritatis quidem ad eius commodi, sit, beatae, ab totam possimus expedita culpa reprehenderit inventore! Doloribus
              voluptates ad vero, numquam maxime saepe quia tempora repudiandae porro asperiores facere non possimus nihil
              mollitia nulla rerum omnis sequi dolore nam quo in dolorum. Voluptatibus ratione, labore, modi dolorum nihil
              expedita maiores quibusdam delectus reprehenderit veritatis officiis assumenda, voluptatem debitis.</p>
          </div>
               
      </div>
      <div class="products-list__card">
        <div class="products-list__card-coloured products-list__card-coloured--third">
          <h3 class="product-list__name product-list__name--third">milkshakes</h3>
          <p class="product-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product-list__text--dissapear">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="round-button" data-milkshakes-open>
            <svg width="12" height="12">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        
          <div class="modal modal__milkshakes is-hidden" data-milkshakes>
            <button type="button" class="js-modal-close" data-milkshakes-close>
              <svg class="modal__close-icon" width="18" height="18">
                <use href="./images/icons.svg#icon-close"></use>
              </svg>
            </button>
            <p class="product__title">milkshakes</p>
            <p class="product__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ullam cum nulla aperiam
              tempora nisi at voluptate! Ut velit accusamus, rerum ratione adipisci asperiores suscipit quia officia cumque
              architecto numquam error doloremque sequi sed alias tempore eligendi ex hic? Deserunt natus illum esse temporibus
              veritatis quidem ad eius commodi, sit, beatae, ab totam possimus expedita culpa reprehenderit inventore! Doloribus
              voluptates ad vero, numquam maxime saepe quia tempora repudiandae porro asperiores facere non possimus nihil
              mollitia nulla rerum omnis sequi dolore nam quo in dolorum. Voluptatibus ratione, labore, modi dolorum nihil
              expedita maiores quibusdam delectus reprehenderit veritatis officiis assumenda, voluptatem debitis.</p>
          </div>
        
      </div>
    </div>
  </div>
</section>
