.customer-reviews-section {
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 123px;
    padding-bottom: 123px;
  }
}
.customer-reviews-container {
  max-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    max-width: 620px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.customer-reviews-container__text {
  max-width: 157px;
  // display: block;
  // align-items: center;
  background-color: #FAFAFA;
  background-image: -webkit-repeating-linear-gradient(
    top,
    transparent,
    transparent 31px,
    #E1E1E1 32px,
    transparent 32px
  );
  @include font($fw: 500, $fs: 12px, $lh: 2.58);
  text-align: center;
  margin-top: 72px;
  margin-bottom: 56px;
  @media screen and (min-width: 768px) {
    max-width: 620px;
    @include font($fw: 500, $fs: 14px, $lh: 2.16);
    margin-top: 66px;
    margin-bottom: 58px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    @include font($fw: 500, $fs: 16px, $lh: 2.16);
    margin-top: 47px;
    margin-bottom: 47px;
  }
}

.customer-reviews-container__subtext {
  @include font($fw: 500, $fs: 14px, $lh: 1.86);
  text-align: center;
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fs: 16px, $lh: 1.86);
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    @include font($fw: 500, $fs: 20px, $lh: 1.86);
    
  }
}
.customer-reviews-container__subtext::before {
  content: "...";
    width: 100%;
    height: 4px;
    letter-spacing: 10px;
    display: block;
    position: relative;
    text-align: center;
    color: var(--slider-dots-small);
    bottom: 18px;
    @media screen and (min-width: 768px) {
      bottom: 14px;
    }
    @media screen and (min-width: 768px) {
      bottom: 15x;
    }
}
.customer-reviews-list {
  display: flex;
  flex-direction: row;
  
}
.customer-reviews-list__item {
  margin-left: 18px;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 35px;
  }
}
.customer-reviews-list__icon {
  fill: var(--slider-dots-main);
}
