.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
}

.gallery__list {
  margin: 0 auto;
  margin-bottom: -10px;
  @media screen and(max-width:1199px) {
    margin-bottom: -7px;
  }
}

.gallery__item {
  overflow: hidden;
  border-radius: 20%;
  margin-bottom: 10px;
  width: 140px;
  @media screen and(max-width:1199px) {
    width: 87px;
    margin-bottom: 7px;
  }
  transition: 1s;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
.gallery__item_big {
  width: 288px;
  @media screen and(max-width:1199px) {
    width: 177px;
  }
}
