.header {
  background-color: var(--hero-background-color);
  border: solid 1px tomato;
  padding-top: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}
.header-thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
}

.mobile-menu__icon {
  fill: currentColor;
}

.menu-toggle {
  color: black;
  border: 0;
  padding: 0;
  background-color: var(--hero-background-color);
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.js-close-menu {
  background-color: var(--header-menu-burger-color);
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
}
.mobile-menu {
  border-top: 1px solid #e18298;
}
.mobile-menu__item {
  height: 42px;
  border-bottom: 1px solid #e18298;
  display: flex;
  align-items: center;
}
.mobile-menu__link {
  margin-top: 0;
  margin-bottom: 0;
  @include font(700px, 14px, 1.285, 0);
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: var(--hero-text-color);

  &--aktive {
    color: var(--second-hero-color);
  }
}

.navigation {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.navigation-list {
  display: flex;
  margin-right: -35px;
}
.navigation__item {
  margin-right: 35px;
  font-weight: bold;

  display: flex;
  align-items: center;

  color: var(--hero-text-color);
}
.navigation__link {
  @include font(700px, 16px, 1.31);
  &--aktive {
    color: var(--second-hero-color);
  }
}

.menu-container {
  background-color: var(--header-menu-burger-color);
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
.menu-container.is-open {
  transform: translateX(0);
  background-color: transparent;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0));
}
// .menu-container {
// }
// .mobile-menu__icon {
// }
