.header {
  background-color: var(--hero-background-color);
  border: solid 1px tomato;
  padding-top: 6px;
}
.header__logo {
  display: flex;
  // width: 199px;
  // background-color: var(--hero-text-color);
}
.mobile-menu__icon {
  fill: currentColor;
}
.menu-toggle {
  color: black;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__link {
  margin-top: 0;
  margin-bottom: 0;
  // color: var(--second-title-color);
  // @include font(500, 40px, 1.75, 0.02em);
  // margin-bottom: 32px;
  // &--aktive {
  //   color: var(--main-title-color);
  // }
}
