.hero {
  border: solid 1px green;
  background-color: var(--hero-background-color);
}
.hero__title {
  width: 218px;
  display: block;
  color: var(--hero-text-color);
  @include font(400px, 26px, 1.15, 00.04em);
  font-family: Titan One;
  text-transform: uppercase;
}
.hero__title--secondary {
  font-size: 48px;
  line-height: 1.46;
  color: var(--second-hero-color);
}
.hero__button-priority {
  display: inline-block;
  cursor: progress;
  font-family: inherit;
  align-items: center;
  text-align: center;
  background-color: var(--second-hero-color);
  border-radius: 20px;
  border: 0;
  color: var(---hero-text-color);
}

.hero__button-secondary {
  display: inline-block;
  cursor: progress;
  font-family: inherit;
  align-items: center;
  text-align: center;
  background-color: var(--hero-text-color);
  border-radius: 20px;
  border: 0;
  color: var(--second-hero-color);
}
